<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Jquery-->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- local CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <title>Suicide rates analysis</title>
 
</head>
<body>
  <div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <a class="navbar-brand" href="/">Suicide Analysis Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plots
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="gender">Suicides By Gender</a>
                  <a class="dropdown-item" href="generation">Suicides By Generation</a>
                  <a class="dropdown-item" href="byAge">Suicides By Age</a>
                  <a class="dropdown-item" href="byCountry">Suicides By Country</a>
              </div>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="trend_gdp">Trend</a>
              </li> 
          </ul>
      </div>
    </nav>

  <div class="container">
    <h3> Suicides by Generation </h3>
    <hr>
    <div class="row">
      <div class="col-7">
        <div>
          <label for="year">Select year</label>
          <select name="year" id="selectYear">
          </select>
        </div>
        <div id="pie_generation"></div>
      </div>
      <div class="col-5">
        <div class = "analysis">
          <p>
            The rate of suicides in the baby boomers generation is the highest from 1997 to 2014 at 34% followed by the silent generation<br>
          </p>
          <p>
            <b>Silent:</b> Silent generation were born between 1925 and 1945<br>
            <b>Baby Boomers:</b> Baby boomers were born between 1946 and 1964<br>
            <b>Gen X:</b> Gen X was born between 1965 - 1980<br>
            <b>Gen Y:</b> Gen Y, or Millennials, were born between 1981 and 1996<br>
            <b>Gen Z:</b> Gen Z is the newest generation to be named and were born between 1997 and 2012<br>
            <br>
            After doing some research, it appears that the correlation between the high number of suicides and baby boomers is the economy
            <br>
            <br>
            <br>
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" 
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <!-- D3.js CDN -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!--Plotly JS-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/generation.js"></script>
</body>
</html>
